:host {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto !important;
  overflow-x: hidden;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.sound {
  position: fixed;
  left: 10px;
  top: 10px;
  height: 57.53px;
  display: flex;
  color: #f8991b;
  align-items: center;
}
.section-title {
  display: flex;
  justify-content: center;
  font-size: 50px;
  letter-spacing: 1px;
  font-family: jungle;
  color: #f8991b;
  cursor: pointer;
}

#leadboard-icon {
  height: 24px;
  width: 24px;
  background: url(/assets/icons/trophy.png);
}
.user-level {
  display: flex;
  flex-direction: row;
  letter-spacing: 1px;
  font-family: jungle;
  color: #f8991b;
  position: fixed;
  align-items: center;
  right: 10px;
  top: 10px;

  > button {
    margin-left: 20px;
    margin-bottom: 6px;
  }
}
@keyframes pulse-white {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  letter-spacing: 1px;
  font-family: jungle;
  color: #f8991b;

  span:last-child {
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      filter: brightness(0.8);
    }
  }
}

.leadboard {
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
  background-color: transparent;
  margin-left: 10px;
}

.lead-title {
  color: #f8991b;
  width: 100%;
  padding: 5px 0px;
  font-family: jungle;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  border: 1px solid white;
  text-align: center;
}
.lead-item {
  font-family: jungle;
  color: white;
  padding-left: 5px;
  font-size: 1.5em;

  > span {
    margin-right: 5px;
  }
}
.scores {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  transition: all 0.5s ease;
}

.prog-pts {
  position: absolute;
  bottom: 35px;
  right: 20px;
  font-size: 1.5rem;
}
@media only screen and (max-width: 500px) {
  .start {
    font-size: 1.8rem;
  }
  .lead-title {
    font-size: 1.5rem;
  }
  .lead-item {
    font-size: 1rem;
  }
}
