<main>
  <div class="sound" *ngIf="!showLeadboard">
    <button class="fade-in" *ngIf="navigationStatus != 0" (click)="onClickToNavigateBack()" mat-button mat-icon-button>
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button (click)="canPlayAudio = !canPlayAudio" mat-button mat-icon-button>
      <mat-icon *ngIf="canPlayAudio">volume_up</mat-icon>
      <mat-icon *ngIf="!canPlayAudio">volume_off</mat-icon>
    </button>

  </div>
  <div *ngIf="user" class="user-level fade-in">
    <h4>User : {{user.name}}</h4>
    <button (click)="logout()" class="fade-in" mat-button mat-icon-button>
      <mat-icon> logout</mat-icon>
    </button>
  </div>
  <app-lottie-player class="slide-in-fwd-center" width="300px" height="300px" *ngIf="gameStatus == 0"
    src="/assets/animations/card-loading.json">
  </app-lottie-player>
  <app-playing-cards [canPlayEffects]="canPlayAudio" [gameLevel]="gameLevel" (onGameCompleted)="onGameCompleted()"
    [models]="models" #cards class="fade-in" *ngIf="gameStatus == 2"></app-playing-cards>

  <h1 class="start slide-in-fwd-center prog-pts" *ngIf="gameLevel == 4 && gameStatus > 1">Score:
    {{toDecimalPlaces(progressiveModel.points)}}</h1>
  <app-timer *ngIf="gameStatus == 2 " (onTimerComplete)="onTimerCompleted()" class="fade-in" #timer>
  </app-timer>

  <app-mode-selector (onSelectMode)="onSelectDifficulty($event)" *ngIf="gameStatus == 1"></app-mode-selector>
  <app-mode-menu *ngIf="gameStatus == 6" (onStart)="startGame()" (onShowLeadBoard)="showLeadboard = true">
  </app-mode-menu>

  <h1 *ngIf="gameStatus == 3 && gameLevel != 4" (click)="startGame()" class="section-title slide-in-fwd-center">Game
    Over, Try Again?</h1>

  <div class="scores slide-in-fwd-center" *ngIf="gameStatus == 4 || gameLevel == 4 && gameStatus == 3">
    <h1 class="start"><span>{{onGameEndMessage()}}</span> <span>Score: {{user.points}}</span> <span
        (click)="startGame()">Play
        Again?</span></h1>
  </div>
  <h1 class="start slide-in-fwd-center" *ngIf="gameStatus == 5">Next Round will start...</h1>
  <app-leadboard *ngIf="showLeadboard" [gameLevel]="gameLevel" (onClickToClose)="showLeadboard = false"></app-leadboard>
</main>
