.timer {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 1.4em;
  letter-spacing: -1px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  letter-spacing: 1px;
  font-family: jungle;
  color: #f8991b;
}
.timer span {
  font-size: 1.5rem;
  margin: 0 3px 0 15px;
}
