.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  font-family: jungle;
  color: #f8991b;

  span {
    font-size: 2em;
  }
}

.btns {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn-gp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    width: 200px;
  }
}
@media screen and (min-width: 600px) {
  .btn-gp {
    flex-direction: row;

    button {
      width: 200px;
      margin-right: 25px;
    }
  }
}
